@import "./src/styles/utils";

.header {
    display: flex;
    padding: 0.5rem;
    width: 100%;
    color: #4a5568;
    z-index: 10;
    &:hover{
        background-color: #718096;
        color: #edf2f7;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }

        // 반응형 레이아웃
        @include media("<wide") {
            width: 100%;
        }
        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .project {
            cursor: pointer;
            &:hover{
                color: #4fd1c5;
            }
        }
}