@import "./src/styles/utils";

.header {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  color: #58c9b9;
  z-index: 10;
  font-size: 35px;
  position: fixed;
  background-color: #26272c;
  &:hover {
    background-color: #58c9b9;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  .title {
    cursor: pointer;
  }
}
