@import "./src/styles/utils";

.header {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  color: #d1b6e1;
  z-index: 10;
  font-size: 35px;
  position: fixed;
  background-color: #26272c;
  &:hover {
    background-color: #d1b6e1;
    color: #edf2f7;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  // 반응형 레이아웃
  @include media("<wide") {
    width: 100%;
  }
  @include media("<medium") {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .project {
    cursor: pointer;
  }
}
