@import "./src/styles/utils";

.contact {
    margin-top: 2.5rem;
    font-size: 2.25rem;
    color: #2d3748;
    font-weight: 700;
    margin-left: 3rem;
    margin-bottom: 2.5rem;
}

.card{
    display: flex;
    justify-content: center;
    color: #2d3748;
    margin-bottom: 3rem;
    .card-content{
        display: flex;
        width: 50%;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 2.5rem;
        .card-content1{
            flex-direction: column;
            width: 50%;
            .details{
                font-size: 1.875rem;
                margin-bottom: 3rem;
            }
            .email{
                font-size: 1.25rem;
            }
        }
        .send-mail{
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            .send-mail-content{
                height: 2.5rem;
                flex-shrink: 0;
                background-color: #38b2ac;
                border-color: #38b2ac;
                font-size: 0.875rem;
                border-width: 4px;
                color: #fff;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                border-radius: 0.25rem;
                &:hover{
                    background-color: #4fd1c5;
                    border-color: #4fd1c5;
                }
            }
        }
    }
}