@import "./src/styles/utils";

.profile {
    margin-bottom: 14rem;

    .picture {
        height: 12rem;
        border-radius: 9999px;
        margin: auto;
        margin-top: 5rem;
        border-width: 1px;
        border-color: #edf2f7;
        padding: 0.25rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        &:hover {
            border-color: #b2f5ea;
        }
        cursor: pointer;
    }
}