@import "./src/styles/utils";

.list-wrapper {

    width: 1024px;
    margin: 0 auto; // 가운데정렬

    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    // 반응형 레이아웃
    @include media("<wide") {
        width: 768px;
    }
    @include media("<large"){
        width: 512px;
    }
    @include media("<medium") {
        width: 100%;
    }
}