@import "./src/styles/utils";

.profile {
  margin-top: 121px;
  .picture {
    display: flex;
    align-items: center;
    height: 12rem;
    border-radius: 9999px;
    margin: auto;
    border-width: 1px;
    border-color: #edf2f7;
    padding: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
      0 4px 6px -2px rgba(255, 255, 255, 0.05);
    &:hover {
      border-color: #58c9b9;
    }
    cursor: pointer;
  }

  .github {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;

    .github-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: #58c9b9;
      }
    }

    .Instagram-link {
      margin-left: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: #58c9b9;
      }
    }
  }

  .icon-size {
    font-size: 1.5rem;
  }
  .text-size {
    font-size: 0.75rem;
  }

  .introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
    .in_en {
      font-size: 2.25rem;
      font-weight: 800;
    }
    .color-text {
      color: #58c9b9;
    }
    .hello-emoji {
      font-size: 3rem;
      margin-left: 15px;
      display: inline-block;
      transform-origin: 80% 80%;
      animation: hello 1.8s linear infinite;
      -webkit-animation: hello 1.8s linear infinite;
    }
    .in_co {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1.25rem;
    }
  }
}

@keyframes hello {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
