@import "./src/styles/utils";

.footer {
    display: flex;
    justify-content: center;
    background-color: #718096;
    height: 8rem;
    color: #2d3748;
    .ali{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        .font-bold{
            font-weight: 700;
        }
    }
}